*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #56C744;
    color: #215E17;
    font-size: 25px;
    font-weight: 800;
}

.principal{
    background-color: #58c447;
    background-repeat: no-repeat;
    background-size: contain;
}

.container{
    height: 130vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container_botao{
    background-color: #3A832E;
    color: white;
    border-radius: 5px;
    padding: 20px;
    display: block;
    text-decoration: none;
}

.botao_secundario{
    background-color: transparent;
    border: 2px solid #215E17;
    color: #215E17;
    text-decoration: none;
}

.container_aviso{
    font-weight: 100;
    font-size: 20px;
}

.botao-terceiro{
    background-color: #215E17;
    color: white;; 
}

.container_imagem{
    margin: 1em 0 2em 4em;
}

.imagem_flor{
    margin: 1em 0 2em 4em;
    width: 80%;
}

.container_caixa{
    margin: 1em 2em;
}

.secundario_imagem{
    width: 70%;
}

.descricao_texto{
    font-weight: 800;
    font-size: 40px;
    color: #215E17;
}

.descricao_titulo{
    font-weight: 800;
    font-size: 80px;
}

.secundario{
    align-items: center;
    margin: 0 4em;
}

.container_descricao{
    padding: 2em;
}

.descricaoo_titulo{
    font-weight: 800;
    font-size: 80px;
}

.descricaoo_texto{
    font-weight: 800;
    font-size: 40px;
    color: #215E17;
}